<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel panel-info user-status">
	  <div class="panel-heading">
	    <p>Status: <strong>Task in Progress</strong></p>
	  </div>
		<div class="panel-body">It looks like you're busy with the following Timetris task:</div>
	</div>
</div>

<div class="task-in-progress" id="<%= @task.id %>">

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="panel panel-primary calendar">
			<div class="panel-heading"><%= format_local_time_without_date(@next_event.start.dateTime) %> - <%= format_local_time_without_date(@next_event.end.dateTime) %>
			  <a target="_blank" href="https://www.google.com/calendar">
			    <div class="pull-right">
			    <span class="glyphicon glyphicon-calendar"></span></div>
			  </a>
			</div>
		  <div class="panel-body">

		  	<strong><%= @next_event.summary %></strong>

	  		<p class="text-center">
					<span class="hours">00</span>
				  <span class="minutes">: 00</span>
				  <span class="seconds">: 00</span>
				</p>

				<br>

		  	<div class="progress">
				  <div class="progress-ticker progress-bar progress-bar-striped active" role="progressbar">
				    0%
				  </div>
				</div>

				Note:

				<%= render "tasks/note_form" %>

				<div class="btn-group btn-group-justified task-buttons" role="group">
					<div class="btn-group" role="group">
						<%= button_to "I'm Finished", complete_task_path(@task), title: "finish task", method: :patch, class: "btn btn-success left" %>
					</div>
					<div class="btn-group" role="group">
						<%= button_to "Cancel Task", cancel_path(@task), class: "btn btn-danger right", title: "cancel task", method: :patch %>
					</div>
				</div>

		  </div>
		</div>
	</div>

</div>