<div class="panel panel-info task" id="<%= task.id %>">
	<div class="panel-heading">
		<div class="col-xs-12 col-sm-6 col-md-6 name">
			<h5 class="visible-md visible-lg"><%= task.name.truncate(140) %>
				<a href="#" class="task-edit">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
			</h5>
			<h5 class="visible-sm visible-xs"><%= task.name.truncate(76) %>
				<a href="#" class="task-edit">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
			</h5>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 input-group date form_date">
			<span class="input-group-addon"><span>Due:</span></span>
				<%= form_for task, method: "patch" do |f|%>
				<%= f.date_field :due_date, class: "form-control" %>
			<% end %>
		</div>
	</div>
  <div class="panel-body">
	  <div class="col-xs-12 col-sm-6 col-md-6 option">
  		<div class="col-xs-4 col-sm-4 col-md-4 option">
	  		<h5>Timebox: </h5>
  		</div>
  		<div class="col-xs-8 col-sm-8 col-md-8 option">
  			<h5>
		  		<a href="#" class="timebox-subtract">
						<span class="glyphicon glyphicon-minus-sign"></span>
					</a>
				</h5>
	  		<h4 class="timebox-tag">
	  			<%= render partial: "tasks/timebox_tag", locals: {task: task} %>
	  		</h4>
	  		<h5>
		  		<a href="#" class="timebox-add">
						<span class="glyphicon glyphicon-plus-sign"></span>
					</a>
				</h5>
			</div>
	  </div>
	  <div class="col-xs-12 col-sm-6 col-md-6 option">
  		<div class="col-xs-4 col-sm-4 col-md-4 option">
	  		<h5>Priority: </h5>
  		</div>
  		<div class="col-xs-8 col-sm-8 col-md-8 option">
  			<h5>
		  		<a href="#" class="priority-subtract">
						<span class="glyphicon glyphicon-minus-sign"></span>
					</a>
				</h5>
	  		<h4 class="priority-tag">
	  			<%= render partial: "tasks/priority_tag", locals: {task: task} %>
	  		</h4>
	  		<h5>
		  		<a href="#" class="priority-add">
						<span class="glyphicon glyphicon-plus-sign"></span>
					</a>
				</h5>
			</div>
	  </div>
  </div>
	<div class="panel-footer">
	  <div class="btn-group btn-group-justified task-buttons" role="group">
			<div class="btn-group" role="group">
				<%= button_to "Remove Task", task_path(task), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" } %>
			</div>
		</div>

  </div>
</div>