<li class="list-group-item task" id="<%= task.id %>">
  <table>
    <tr>
      <%= render partial: "tasks/list_item_header", locals: {task: task} %>
      <%= render partial: "tasks/list_item_timebox", locals: {task: task} %>
      <%= render partial: "tasks/list_item_priority", locals: {task: task} %><br>
      <%= render partial: "tasks/calendar", locals: {task: task} %><br>
      <%= render partial: "tasks/list_item_buttons", locals: {task: task} %>
    </tr>
  </table>
</li>
