<div class="jumbotron">

	<div class="container">
		<div class="col-xs-12 col-sm-12 col-md-12">

			<% if @task.completed? %>
				<div class="panel panel-primary calendar">
			<% else %>
				<div class="panel panel-default">
			<% end %>


				<div class="panel-heading">

					<% if @task.completed? %>
						<%= format_local_date(@task.start_time) %>
					<% else %>
						Task Pending
					<% end %>
			    <div class="pull-right">
			    <span class="glyphicon glyphicon-tasks"></span></div>
				</div>
			  <div class="panel-body">

			  	<p><strong><%= @task.name %></strong></p>

					<% if @task.completed? %>

						<div class="col-md-4 col-sm-4 col-xs-12 report-panel">
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h5>Started at</h5>
						    </div>
						    <div class="panel-body">
						      <%= format_local_time_without_date(@task.start_time) %>
						    </div>
						  </div>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12 report-panel">
						  <div class="panel panel-default">
						    <div class="panel-heading">
						     <h5>Ended at</h5>
						    </div>
						    <div class="panel-body">
						      <%= format_local_time_without_date(@task.end_time) %>
						    </div>
						  </div>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12 report-panel">
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h5>Timebox Diff.</h5>
						    </div>
						    <div class="panel-body">
						      <%= @task.time_box_difference_in_words %>
						    </div>
						  </div>
						</div>

					<% end %>

						<div>Note:</div>

						<%= render "tasks/note_form" %>

						<div class="btn-group btn-group-justified task-buttons" role="group">
							<div class="btn-group" role="group">
								<%= button_to "Remove Task", task_path(@task), class: "btn btn-danger", title: "remove task", method: :delete, data: { confirm: "Are you sure?" } %>
							</div>
						</div>

				  </div>
				</div>
			</div>
		</div>

	</div>