<table>
  <tr>
    <th class="col-md-2">Total Tasks Completed</th>
    <th class="col-md-2">Total Time Box</th>
    <th class="col-md-2">Total Task Time</th>
    <th class="col-md-2">Timebox Difference</th>
    <th class="col-md-2">Average Difference</th>
    <th class="col-md-2">Average Priority</th>
  </tr>
  <tr>
    <td class="col-md-2"><%= total.count %></td>
    <td class="col-md-2"><%= total.box %> minutes</td>
    <td class="col-md-2"><%= total.task_time %></td>
    <td class="col-md-2"><%= total.diffference %></td>
    <td class="col-md-2"><%= total.avg_diffference %></td>
    <td class="col-md-2"><%= total.avg_priority %></td>
  </tr>
</table>