Reports
<% if @tasks %>
  <table>
    <tr>
      <th class="col-md-1">Task Name</th>
      <th class="col-md-1">Time Box</th>
      <th class="col-md-1">Due Date</th>
      <th class="col-md-1">Priority</th>
      <th class="col-md-1">How Long It Took</th>
      <th class="col-md-1">How Closely You Guessed It Correctly</th>
      <th class="col-md-1">Start Date</th>
      <th class="col-md-1">End Date</th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td class="col-md-1"><%= link_to "#{task.name}", task %></td>
        <td class="col-md-1"><%= task.time_box %> min</td>
        <% if task.due_date %>
          <td class="col-md-1"><%= task.due_date %></td>
        <% else %>
          <td class="col-md-1">N/A</td>
        <% end %>
        <td class="col-md-1"><%= task.priority %></td>
        <td class="col-md-1">TIME IT TOOK, DO THE MATH HERE</td>
        <td class="col-md-1">HOW CLOSE THEY WERE TO GET IT RIGHT, % HERE</td>
        <td class="col-md-1"><%= task.start_time %></td>
        <td class="col-md-1"><%= task.end_time %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  No Reports!
<% end %>