<% if @tasks.any? %>
  <table>
    <tr>
      <th class="col-md-2">Total Tasks Completed</th>
      <th class="col-md-2">Total Time Box</th>
      <th class="col-md-2">Total Task Time</th>
      <th class="col-md-2">Timebox Difference</th>
      <th class="col-md-2">Average Difference</th>
      <th class="col-md-2">Average Priority</th>
    </tr>
    <tr>
      <td class="col-md-2"><%= @count %></td>
      <td class="col-md-2"><%= @time_box %> minutes</td>
      <td class="col-md-2"><%= @task_time %> minutes</td>
      <td class="col-md-2"><%= @difference %> minutes</td>
      <td class="col-md-2"><%= @avg_difference %> minutes</td>
      <td class="col-md-2"><%= @avg_priority %></td>
    </tr>
  </table>
  <br>
  <table>
    <tr>
      <th class="col-md-1">Task Name</th>
      <th class="col-md-1">Time Box</th>
      <th class="col-md-1">Due Date</th>
      <th class="col-md-1">Priority</th>
      <th class="col-md-1">Task Time</th>
      <th class="col-md-1">Timebox Difference</th>
      <th class="col-md-1">Start Date</th>
      <th class="col-md-1">End Date</th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td class="col-md-1"><%= link_to "#{task.name}", task %></td>
        <td class="col-md-1"><%= task.time_box %> min</td>
        <% if task.due_date %>
          <td class="col-md-1"><%= format_local_time(task.due_date) %></td>
        <% else %>
          <td class="col-md-1">N/A</td>
        <% end %>
        <td class="col-md-1"><%= task.priority %></td>
        <td class="col-md-1"><%= task.task_time %> minutes</td>
        <td class="col-md-1"><%= task.time_box_difference %></td>
        <td class="col-md-1"><%= format_local_time(task.start_time) %></td>
        <td class="col-md-1"><%= format_local_time(task.end_time) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  No Reports!
<% end %>
