<% if @tasks.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">Reports</div>
    <div class="panel-body">
    <p>On average you were <strong><%= current_user.average_difference_percentage_in_words %></strong> your timebox goal.</p>
    <p>Your timebox difference <%= @difference %> minutes</p>
    <table class="table">
      <tr>
        <!-- <th class="col-md-2">Total Time Box</th> -->
        <!-- <th class="col-md-2">Total Task Time</th> -->
        <th class="col-md-2">Timebox Difference</th>
        <th class="col-md-2">On Average You were</th>
        <!-- <th class="col-md-2">Average Priority</th> -->
        <th class="col-md-2">Total Tasks Completed</th>
      </tr>
      <tr>
        <!-- <td class="col-md-2"><%# @time_box %> minutes</td> -->
        <!-- <td class="col-md-2"><%# @task_time %> minutes</td> -->
        <td class="col-md-2"><%= @difference %> minutes</td>
        <!-- <td class="col-md-2"><%# (@avg_difference) / 100.00 %>%</td> -->
        <td class="col-md-2"><%= current_user.average_difference_percentage_in_words %> your goal</td>
        <!-- <td class="col-md-2"><%# @avg_difference %> minutes</td> -->

        <!-- <td class="col-md-2"><%# @avg_priority %></td> -->
        <td class="col-md-2"><%= @count %></td>
      </tr>
    </div>

    </table>
    <br>
    <table>
      <tr>
        <th class="col-md-1">Start Date</th>
        <!-- <th class="col-md-1">Due Date</th> -->
        <th class="col-md-1">Task Name</th>
        <!-- <th class="col-md-1">Time Box</th> -->
        <!-- <th class="col-md-1">Priority</th> -->
        <th class="col-md-1">Task Time</th>
        <th class="col-md-1">Timebox Difference</th>
        <!-- <th class="col-md-1">End Date</th> -->
      </tr>
      <% @tasks.each do |task| %>
        <tr>
          <td class="col-md-1"><%= format_report_time(task.start_time) %></td>
          <%# if task.due_date %>
            <!-- <td class="col-md-1"><%# format_local_time(task.due_date) %></td> -->
          <%# else %>
            <!-- <td class="col-md-1">N/A</td> -->
          <%# end %>
          <td class="col-md-1"><%= link_to "#{task.name}", task %></td>
          <!-- <td class="col-md-1"><%# task.time_box %> min</td> -->
          <!-- <td class="col-md-1"><%# format_priority(task) %></td> -->
          <td class="col-md-1"><%= task.duration %> minutes</td>
          <td class="col-md-1"><%= task.time_box_difference_in_words %></td>
          <!-- <td class="col-md-1"><%# format_local_time(task.end_time) %></td> -->
        </tr>
      <% end %>
    </table>
  </div>
<% else %>
  <div class="panel panel-default">
    <div class="panel-heading">No Reports!</div>
    <div class="panel-body">
  </div>
<% end %>
