<div class="container col-md-4 col-xs-12">
  <div class="panel panel-primary calendar-sidebar">
		<div class="panel-heading">Calendar<span class="glyphicon glyphicon-calendar pull-right"></span></div>
	  <div class="panel-body">
	  	<table class="table table-striped">
			  <tr>
				  <th scope="row"><%= @calendar_times[0] %></th>
				  <td>Test</td>
			  </tr>
			  <tr>
				  <th scope="row"><%= @calendar_times[1] %></th>
				  <td>Test</td>
			  </tr>
			  <tr>
				  <th scope="row"><%= @calendar_times[2] %></th>
				  <td>Test</td>
			  </tr>
			  <tr>
				  <th scope="row"><%= @calendar_times[3] %></th>
				  <td>Test</td>
			  </tr>
			  <tr>
				  <th scope="row"><%= @calendar_times[4] %></th>
				  <td>Test</td>
			  </tr>
			  <tr>
				  <th scope="row"><%= @calendar_times[5] %></th>
				  <td>Test</td>
			  </tr>
			  <tr>
				  <th scope="row"><%= @calendar_times[6] %></th>
				  <td>Test</td>
			  </tr>
			  <tr>
				  <th scope="row"><%= @calendar_times[7] %></th>
				  <td>Test</td>
			  </tr>
			  <tr>
				  <th scope="row"><%= @calendar_times[8] %></th>
				  <td>Test</td>
			  </tr>
			  <tr>
				  <th scope="row"><%= @calendar_times[9] %></th>
				  <td>Test</td>
			  </tr>
			  <tr>
				  <th scope="row"><%= @calendar_times[10] %></th>
				  <td>Test</td>
			  </tr>
			  <tr>
				  <th scope="row"><%= @calendar_times[11] %></th>
				  <td>Test</td>
			  </tr>
			</table>
	  </div>
	</div>
</div>
