<nav class="navbar navbar-default main-nav">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">Timetris</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" role="tablist">
        <% if current_user %>
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Present", root_path %></li>
          <li class="<%= 'active' if current_page?(future_path) %>"><%= link_to "Future", future_path %></li>
          <li class="<%= 'active' if current_page?(past_path) %>"><%= link_to "Past", past_path %></li>
        <% else %>
          <li class="<%= 'active' if current_page?(welcome_path) %>"><%= link_to "Welcome", root_path %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <% if current_user %>
          <li class="<%= 'active' if current_page?(tasks_path) %>"><%= link_to "Manage Tasks", tasks_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.name %><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a target="_blank" href="https://docs.google.com/forms/d/1PNhgfo13lDBA7bPfKr-t_FfeZ1zKN8xjrJRgJKDcxDk/viewform?usp=send_form">Feedback</a></li>
              <li><a href="<%= edit_user_path %>">Settings</a></li>
              <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
            </ul>
          </li>

        <% else %>

            <li><%= link_to "Sign in with Google+", "/auth/google_oauth2", id: "sign_in" %></li>

        <% end %>
      </ul>
    </div>
  </div>
</nav>