<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
  <meta name="author" content="">
  <title>Timetris</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
  
    <% if !@task || !@task.task_in_progress %>
      <%= render partial: "layouts/navbar" %>
    <% end %>

    <div class="notification"></div>

    <% if current_user %>
    <%= render partial: "layouts/calendar_sidebar" %>
    <div class="jumbotron col-md-8 col-xs-12">
      <%= yield %>
    </div>
    <% else %>
    <div class="jumbotron col-md-12">
      <%= yield %>
    </div>
    <% end %>    
    
  </div>

</body>
</html>

