<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
  <meta name="author" content="">
  <title><%= @task.name %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body style="background: #1A1A1A">

  <div class="container">
    <%= render partial: "layouts/jumbotron" %>
  </div>

</body>
</html>

